<form {{action 'onSubmit' on="submit" preventDefault=true}}>
  <div>
    <label for="username">Username</label>
    {{ input type="text" value=username.value id="username" class="form-control"
             name="username" aria-describedby="usernameHelpBlock"
             focus-out=(action 'onUsernameFocusOut') focus-in=(action 'onUsernameFocusIn')}}

    {{#if showUsernameErrors}}
      <div class="alert alert-danger">
        {{#if username.errors.maxLength}}
          <div>
            Username must contain max 30 characters.
          </div>
        {{/if}}
        {{#if username.errors.minLength}}
          <div>
            Username must contain min 6 characters.
          </div>
        {{/if}}
        {{#if username.errors.matchPattern}}
          <div>
            Username can contain only letters and numbers.
          </div>
        {{/if}}
      </div>
    {{/if}}
    {{#if showUsernameAsyncErrors}}
      <div class="alert alert-danger">
        {{#if username.asyncErrors.isUnique}}
          <div>
            Username must be unique.
          </div>
        {{/if}}
      </div>
    {{/if}}

  </div>

  <div>
    <label for="email">Email</label>
    {{ input type="text" value=email.value id="email" class="form-control"
             name="email" aria-describedby="emailHelpBlock"
             focus-out=(action 'onEmailFocusOut') focus-in=(action 'onEmailFocusIn')}}
    {{#if showEmailErrors}}
      <div class="alert alert-danger">
        <div>
          Provide valid email address.
        </div>
      </div>
    {{/if}}
    {{#if showEmailAsyncErrors}}
      <div class="alert alert-danger">
        {{#if email.asyncErrors.isUnique}}
          <div>
            Provided email is already in use.
          </div>
        {{/if}}
      </div>
    {{/if}}
  </div>

  <div>
    <label for="password">Password</label>
    {{ input type="password" value=password.value id="password" class="form-control"
             name="password" aria-describedby="passwordHelpBlock" }}
    {{# if showPasswordErrors }}
      <div class="alert alert-danger">
        {{#if password.errors.maxLength}}
          <div>
            Password must contain max 50 characters.
          </div>
        {{/if}}
        {{#if password.errors.minLength}}
          <div>
            Password must contain min 8 characters.
          </div>
        {{/if}}
        {{#if password.errors.matchPattern}}
          <div>
            Password can contain only letters, numbers and characters: !@#$%^&*
          </div>
        {{/if}}
      </div>
    {{/if}}

  </div>

  <div>
    <label for="confirmPassword">Confirm Password</label>
    {{ input type="password" value=confirmPassword.value id="confirmPassword" class="form-control"
             name="confirmPassword" aria-describedby="confirmPasswordHelpBlock"}}
    {{#if showConfirmPasswordErrors}}
      <div class="alert alert-danger">
        <div>
          Password fields does not match
        </div>
      </div>
    {{/if}}

  </div>

  <button type="submit" class="btn btn-primary" disabled={{formInvalid}}>Register</button>
</form>